.meinbody{
    background-color: rgba(127, 255, 212, 0.4);
    font-family: sans-serif;
}
.meinheader{
    height:100px;
    background-color: aqua;
}
.meintitle{
    font-size: 40px;
}
.formbody{
    background-color: lightgray;
    text-align: center;
    font-family: sans-serif;
}
.form-headertitle{
    font-size:18px
}
footer{
    font-size: 18px;
}